* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f5f5f5;
}

nav {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .menu-logo {
  width: 10rem;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin-left: 20px;
  color: #000;
  text-align: center;
}

nav ul li:hover {
  margin-left: 20px;
  color: #00e8db;
}

nav ul li a {
  text-decoration: none;
  color: #000;
  font-size: 1.2rem;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
}

/* Content */
section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

section article {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 700px) {
  nav {
    flex-direction: column;
    padding: 10px 0;
  }
  nav ul {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
  }
  nav ul li {
    margin-top: 10px;
  }
}
